body {
  background-color: aqua;
  margin: 0;
}

nav {
  background-color: white;
}

#logo {
  width: 150px;
}

#store {
  margin-left: 450px; 
  font-family: 'Yellowtail', cursive;
  font-size: 50px;
  color: blueviolet;
}

#sales {
  margin-left: 450px;
  width: 75px;
  height: 75px;
}

main, .intro {
  text-align: center;
}

p {
  font-size: 20px;
  font-family: Arial, sans-serif;
  color: #a55638;
}

.images div{
  display: inline;
}

section div img {
  width: 25%;
  height: 300px;
}

.images div:nth-child(2) {
  margin-left: 25px;
  margin-right: 25px;
}



.images:last-child {
  margin-bottom: 20px;
}

#footer section{
  font-family:'Times New Roman';
  text-align: center;
  background-color: rgb(75, 74, 74);
  color: white;
}

#footer,
.push {
  width: 100%;
}