body {
  background-color: aqua;
  margin: 0;
  text-align: center;
}

nav {
  background-color: white;
  text-align: center;
}

#logo {
  width: 150px;
  height: 100px;
}

#store {
  margin-left: 450px; 
  font-family: 'Yellowtail', cursive;
  font-size: 50px;
}

table {
  background-color: coral;
}

#sales {
  margin-left: 450px;
  width: 75px;
  height: 75px;
}

main, .intro {
  text-align: center;
}

p {
  font-size: 20px;
  font-family: Arial, sans-serif;
}

section {
  font-family: serif, Georgia;
  text-align: center;
  background-color: rgb(75, 74, 74);
  color: white;
}

#footer,
.push {
  width: 100%;
}

table, td, th {
  border: solid black 3px;
  border-collapse: collapse;
  font-size: 20px;
  /* Source used: https://www.granneman.com/webdev/coding/css/centertables */
  margin-left:auto; 
  margin-right:auto;
}